/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    background: #FAFAFA;
}

/* GENERAL */
#main-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#banner-container,
#form-container {
    flex: 1 1 0;
    width: 50%;
}

#banner-container {
    text-align: right;
}

#banner-container img {
    margin-right: -1rem;
}

#form-container {
    text-align: center;
}

/* LOGIN FORM */
#form-box,
#register-container {
    background-color: #fff;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 30px;
}

#form-box #logo-insta {
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
    background: #FFF;
}

#login-form {
    margin-top: 20px;
    background-color: #fff;
}

#login-form input {
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
    outline: none;
}

#login-form input[type='submit'] {
    background-color: #B2DFFC;
    color: #FFF;
    margin-top: 1rem;
    border-radius: 5px;
    height: 30px;
    border-color: #B2DFFC;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

/* SEPARATOR */
.separator {
    position: relative;
}

.separator .line {
    border-top: 1px solid #DBDBDB;
    width: 268px;
    margin: 25px auto 35px;
}

.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #BBB;
    background: #FFF;
    width: 50px;
    top: -6px;
    left: 50%;
    margin-left: -25px;
    font-size: 14px;
}

/* FACEBOOK LOGIN */
#facebook-login {
    margin-bottom: 25px;
}

#facebook-login a {
    text-decoration: none;
    color: #385185;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook-login img {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

#facebook-login span {
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
    background: #FFF;
}

#other-links {
    background: #FFF;
}

/* FORGOT PASSWORD */
#forgot-pass {
    margin-bottom: 20px;
    font-size: 12px;
    background: #FFF;
}

#forgot-pass a {
    text-decoration: none;
    color: #373799;
    background: #FFF;
}

/* CTA REGISTER */
#register-container {
    margin-top: 10px;
    padding: 25px;
}

#register-container p {
    font-size: 14px;
    color: #262626;
    background: #FFF;    
}

#register-container a {
    text-decoration: none;
    font-weight: bold;
    color: #4A95F6;
    background: #FFF;
}

/* GET THE APP */
#get-app-container {
    text-align: center;
    width: 350px;
}

#get-app-container {
    margin: 15px 0;
    font-size: 13px;
}

#get-app-container a {
    text-decoration: none;
}

#get-app-container img {
    margin-top: 15px;
    width: 136px;
    height: 40px;
}

/* FOOTER */
footer {
    text-align: left;
    width: 1000px;
    margin: 50px auto;
}

#footer-links {
    list-style: none;
    text-align: center;
}

#footer-links li {
    display: inline-block;
    text-transform: capitalize;
    margin-right: 10px;
}

#footer-links a {
    text-decoration: none;
    color: #8E8E8E;
    font-size: 12px;
    line-height: 16px;    
}

#copyright {
    font-size: 12px;
    color: #8E8E8E;
    margin-top: 10px;
    text-align: center;
}

/* MOBILE DEVICES */
@media (max-width: 450px) {
    #banner-container {
        display: none;
    }

    #main-container,
    #form-box {
        margin-top: 0;
    }

    #form-container,
    #form-box,
    #register-container,
    #get-app-container {
        width: 100%;
        border: none;
    }

    footer {
        width: 90%;
        text-align: center;
    }

}